body{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.calculator{
    display: grid;
    justify-content: center;
    border-style: solid;
    background-color: black;
    border-radius: 1px;
    border-radius: 5px;
}
.span{
    grid-column: span 2;
    color: #619971;
    background-color: #0F5223;
}

.inputField{
    grid-column: 1 / -1;
    background-color: rgb(55, 57, 61);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    height: 60px;
    color: #ffffff;
  }

.output .previous-operand{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

button{
    background-color: #28282A;
    color: #b1c2ce;
}

.row > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px, solid #ffffff;
    outline: none;
}

.row > button:hover{
    background-color: #a9a9a9;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
